$light-gray-text: #999999 !default;
$light-white-text: #e3e3e3 !default;
$white-text: white !default;
$orange-main-text: #c96 !default;
$dark-text: black !default;
$light-dark: rgb(71, 71, 71) !default;